body {
  background-color: lightgray;
}

.setup-section {
  background-color: dodgerblue;
}

#camera-diagram {
  width: 560px;
}

.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

.header, .interface-section {
  background-color: lightgray;
}
